body{
    margin: 0;
}
.main_container{
    display: flex;
}

.left_div{
    width: 30%;
    height: calc(100vh - 18px);
    background-color: lightskyblue;
}

.right_div{
    left: 70%;
}

/* .left_div:hover{
    transform: translateY(101%);
} */

.card{
    width: 150px;
    height: 100px;
    background: teal;
}

.card:hover{
    transform: translateY(100%)
}